# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.pyc

# ===== Virtual Environment =====
.venv/
venv/

# ===== Environment Variables =====
.env

# ===== GCP Service Account Keys =====
doran-stt.json
*.credentials.json

# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== VSCode =====
.vscode/

# ===== Logs =====
*.log

data/chroma/